name: publish package

on:
    release:
        types: [published]

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.9

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Test package
              run: bun run test

            - name: Build package
              run: bun run build

            - name: Publish package
              run: |
                  bun install -g npm@latest
                  bun x npm publish --provenance --access public
